.body{
    height: 100vh;
    width: 100vw;
    background-color: whitesmoke;
    color: black;
}

#serverPic{
    width: 100%;
}
.text{
    font-family: 'Big Shoulders Text', cursive;
    font-size: 22px;
}