@media (max-width: 800px){
.chart-page{
    height: 90vh;
    width: 100vw;
    font-size: 12px;
    border: black solid 1px;
    background-color: whitesmoke;
    color: black;
    /* position: absolute; */
}
.chart{
    width: 80vw;
    height: 60vh;
    display: flex;
    color: black;
    background-color: black;
    
}
canvas {
    height: 40vh !important;
    color: black;
    /* background-color:; */
}
.input{
    border: solid darkgray 2px;
    border-radius: 5px;
}
.package-display{
    display: flex;
    border: solid black 1px;
    width: 30vw;
    padding: 10px;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    
}
.total-display{
    display: flex;
    border: solid black 1px;
    width: 150px;
    justify-content: center;
    border-radius: 6px;
    margin-right: 20px;
    font-size: large;

}
.whole-bottom{
    display: flex;
    justify-content: space-around;
}

.bundle-boxes{
    border: solid black 1px;
    display: flex;
    justify-items: left;
}
}
@media (min-width: 801px){

    canvas {
        margin-top: 30px;
        width: 80vw !important;
        height: 60vh !important;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 150px;
}
}