.header {
  width: 100vw;

}

@media (max-width: 800px) {
  .nav-bar {
    width: 100%;
    height: 10vh;
    background-color: #133954;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 10px; */
  }
  .logo {
    margin-left: 20px;
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 20px;
    font-family: "Josefin Sans", sans-serif;
  }
  .menu-buttons {
    text-decoration: none;
    color: white;
    display: flex;
    margin-right: 15px;
    flex-direction: column;
    background-color: #133954;
    padding: 5px 10px;
    /* width: 100px; */
    /* float: right; */
    align-items: center;
    /* width: 40px; */
    /* margin-top: 10px; */
  }
  .logout {
    border: none;
    background-color: transparent;
    color: white;
    display: flex;
    text-decoration: none;
    align-items: center;
    align-content: center;
  }
  .myLinks {
    margin-top: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    right: -5vw;
    top: 10vh;
    z-index: 5;
    margin-right: 15px;
  }
  .icon {
    color: white;
    display: flex;
    right: 10vw;
    flex-direction: flex-end;
    position: absolute;
  }
}
@media (min-width: 801px) {
  .nav-bar {
    width: 100vw;
    height: 10vh;
    background-color: #133954;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* z-index: 5vh; */
    /* margin-bottom: 100vh; */
  }
  .enduro-logo{
    width: auto; 
    height: 7vh;
    margin-right: 20px;
  }
  .logo {
    margin-left: 20px;
    color: white;
    font-weight: 600;
    font-size: 40px;
    font-family: "Josefin Sans", sans-serif;
    background-color: #133954;
    text-decoration: none;
    margin-top: 10px;
  }
  .menu-buttons {
    text-decoration: none;
    color: white;
    display: flex;
    margin-right: 40px;
    font-size: large;
    margin-top: -130px;
    /* width: 20px; */
  
  }
  .menu-buttons:hover{
    color: #00FF00;
  }
  .logout {
    border: none;
    background-color: transparent;
    color: white;
    display: flex;
    text-decoration: none;
    align-items: center;
    align-content: center;
  }
  .myLinks {
    width: 50vw;
    height: 20px;
    margin-top: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    /* right: -5vw; */
    top: 10vh;
  }
  .icon {
    display: none;
  }

  button {
    background-color: transparent;
    text-decoration: none;
    border: none;
    margin-top: 0
  }
}
