.nav-bar{
    width: 100vw;
    height: 10vh;
    background-color: navy;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    margin-left: 20px;
    text-decoration: none;
    color:white;
    font-weight: 500;
    font-size: 20px;
}
.menu-buttons{
    text-decoration: none;
    color:white;
    display: flex;
    margin-right: 20px;
    flex-direction: column;
    background-color: blueviolet;
    padding: 5px 10px
}
.myLinks{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    right: -5vw;
    top: 10vh;

    
}
.icon{

    color: white;
    display: flex;
    right: 10vw;
    flex-direction: flex-end;
    position: absolute;
}