/* @media (max-width:800) { */
#body {
  width: 100vw;
  height: 90vh;
  background-color: whitesmoke;
  color: black;
  display: flex;
  justify-content: space-around;
  /* display: inline; */
}
.all-inputs {
  margin-left: -20vw;
}
.invest-inputs {
  height: 50vh;
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
}
.input-lines {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-around;
  padding: 5px;
}

.input-boxes {
  border: black solid 1px;
  border-radius: 4px;
  margin-right: 0;
  height: 25px;
  width: 160px;
  margin-left: 20px;
}

.comment-box {
  border: black solid 1px;
  border-radius: 4px;
  margin-right: 0;
  height: 125px;
  width: 160px;
  margin-left: 20px;
  margin-top: 80px;
}
.pay {
  display: flex;
  background-color: white;
  border: solid black 2px;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 70px;
  font-size: large;
}
#contact-info {
  display: flex;
}

.contact-us {
  width: 20vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.paragraph{
  font-size: larger;
  font-weight: 500;
  line-height: 30px;
}
.emails{
  font-size: large;
  font-weight: 400;
  line-height: 30px;
}